body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}
 
header {
    background-color: #3E4E50;
    color: white;
    text-align: center;
    padding: 10px;
}
 
header ul {
    list-style: none;
    padding: 0;
}
 
header li {
    display: inline;
    margin-right: 10px;
}
 
header a {
    text-decoration: none;
    color: white;
}
 
section {
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
}
 
img {
    max-width: 400px;
    margin: 10px;
    border-radius: 5px;
}
 
/* Підвал сайту */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}